.search-result--person .search-result__image img,
.presence-entity__image {
	display: none !important;
}

.pv-top-card-section__image,
.presence-entity{
	background-image: url(https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif) !important;
    border-radius: 100%;
    background-size: 100%;
}

.search-result--person .search-result__image
 {
	background-image: url("https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif") !important;
	background-size: 100% !important;
}

.pv-browsemap-section__member-image {
	display: none !important;
}

.actor-name {
	visibility: hidden !important;
	position: relative !important;
}

.actor-name:after {
	visibility: visible !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	content:'A cat!' !important;
}

.distance-badge {
    position: absolute !important;
    left: 46px !important;
    width: 50px !important;
    top: 3px !important;
}

h1.pv-top-card-section__name {
	text-indent:-9999px !important;
}

h1.pv-top-card-section__name:after {
	text-indent: 15px !important;
	content:'A cat!' !important;
	float:left !important;
}

.pv-contact-info__card-sub-heading {
	visibility: hidden !important;
	position: relative !important;
}

.pv-contact-info__card-sub-heading:after {
	visibility: visible !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	content:"This cat's Profile and Website" !important;
}